<!DOCTYPE html>
<html style="height: 100%" lang="en">
<head>
    <link href="style.css" rel="stylesheet">
</head>
<body style="height: 100%;">
    <div style="height: 100%;" class="container">
        <!-- <header></header> -->
        <div id="downloadmain">
            <h1 style="font-size: 3rem;">Thanks for using EasyAccess!</h1><br>
            <h1 style="font-size: 3rem;">Your download link is ready</h1><br><br><br><br><br><br><br>
            <button>DOWNLOAD</button><br><br><br>
            <p>Supports NodeJS, PHP</p>
        </div>
    </div>
</body>
</html>