:root {
    --bgcolor: #0F0F0F;
    --primarycolor: #151515;
    --bluecolor: #3453C0;
    --baigecolor: #F5F5DC;
    --greencolor: #99D674;
    --yellowcolor: #F4B400;
    --redcolor: #DB4437;
}

body {
    font-size: 30;
    background-color: var(--bgcolor);
}

* {
    margin: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

a:visited{color: white; text-decoration: none;}
a {text-decoration: none;}

.heading {
    font-size: 5rem;
    font-weight: bold;
}

.heading2 {
    font-size: 2.5rem;
}

.desc {
    font-size: 20;
}

.blue {color: var(--bluecolor)}
.baige {color: var(--baigecolor)}
.green {color: var(--greencolor)}
.red {color: var(--redcolor)}
.yellow {color: var(--yellowcolor)}

/* Header */
.header {
    position: fixed;
    font-size: 30;
    width: 100%;
    height: 10%;
    padding-top: 1em;
}

.header .logo {
    width: 7em;
}

.header nav {
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
}

.header ul {
    display: flex;
    gap: 3em;
    list-style: none;
}

.header li {
    font-size: 20;
    color: white;
    text-decoration: none;
}

/* Body */
.container {
    background-image: url('svg/bg.svg');
    background-size: cover;
    height: 100%;
    width: 100%;
    /* padding: 0 5%; */
}

section {
    color: white;
    /* height: 100%; */
    /* align-items: center; */
    padding: 0 5%;
    padding-top: 3%;
}

#main {
    /* padding-top: 5%; */
    display: flex;
    gap: 5%;
    /* margin: 0 5%; */
}

#main .content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

#main .images {
    margin: auto;
    width: 50%;
}

.form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.form input {
    background-color: var(--primarycolor);
    padding: 30px 30px;
    border-radius: 50px;
    font-size: 1.2rem;
    color: white;
    height: 70px;
    width: 400px;
}

input:focus {outline: none}
input {
    border: none;
}

.form div {
    display: flex;
    gap: 20px;
}

.form button {
    width: 200px;
    background-color: var(--bluecolor);
    color: white;
    height: 70px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50px;
    border: 1px solid var(--bluecolor);
    transition: all .2s ease-in-out;
}

.form button:hover {
    cursor: pointer;
}

#features {
    /* display: flex; */
    justify-content: center;
    /* height: 100%; */
    background-image: url('svg/featuresbg.svg');
    background-size: cover;
}

#features .content {
    margin: 3% 0;
    display: flex;
    gap: 3%;
}

#ei:hover {border: 5px solid var(--yellowcolor)}
#eu:hover {border: 5px solid var(--redcolor)}
#se:hover {border: 5px solid var(--bluecolor)}
#fr:hover {border: 5px solid var(--greencolor)}

#features .content .element {
    width: 20%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background-color: var(--bgcolor);
    transition: all .1s ease-in-out;
}

.element h5 {margin: 0 auto;}
.element svg {margin: auto auto;}
.element p {font-size: 1rem;}

#contacts {
    background-image: url('svg/bg.svg');
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contacts form {
    align-items:start;
    width: 30%;
    border-radius: 50px;
    height: 80%;
    background-color: var(--primarycolor);
    margin: 0 auto;
    padding: 3% 1%;
    /* margin: 0 3%; */
}

#contacts form input {
    width: 100%;
    background-color: var(--bgcolor);
    border-radius: 50px;
    padding: 10px;
    color: white;
}

#contacts label {
    font-size: 1.2rem;
}

#contacts textarea {
    color: white;
    width: 100%;
    background-color: var(--bgcolor);
    border: none;
    border-radius: 10px;
    padding: 10px;
}

#contacts form button {
    width: 100%;
    padding: 10px 0;
    font-size: 30px;
    background-color: var(--bluecolor);
    color: white;
    border-radius: 50px;
}

#downloadmain{
    /* margin: 3%; */
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    color: white;
}

#downloadmain button {
    border: none;
    background-color: var(--bluecolor);
    width: 20%;
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 3em;
    border-radius: 50px;
}

