<html>

<head>
    <div>
        <link href="./style.css" rel="stylesheet">
    </div>

</head>

<body>
    <div class="dark"></div>
    <div id="submit">
        <form action="http://192.168.1.6/add" method="post">
            <label>IHI</label>
            <input name="name">
            <button type="submit" class="buttonstyle">SUBMIT</button>
        </form>
        <img src="submit.svg" alt="">
    </div>

    <header>
        <img src="/logo.svg" alt="">

        <nav>
            <ul>
                <li><a href="#main">Home</a></li>
                <li><a href="#contacts">Contact Us</a></li>
                <li><a href="#features">Features</a></li>
            </ul>
        </nav>

    </header>

    <section id="main">
        <img src="./main.svg" alt="">
    </section>
    <section id="features">
        <img src="./features.svg" alt="">
    </section>  
    <section id="contacts">
        <img src="contact.svg" alt="">
    </section>

    <a href="#contacts"><button class="button buttonstyle">YUP. I AM IN!</button></a>
    

</body>

</html>